<div class="tab" data-tab="htmltoscene">
	<div class="form-group">
		<label>{{ localize "htmltoscene.scenesettings.enable.name" }}</label>
		<div class="form-fields">
			<input type="checkbox" name="flags.htmltoscene.enable" data-dtype="Boolean" onclick="syncEnabled(this)"
				{{#if enable}} checked{{/if}}>
		</div>
		<p class="hint">{{ localize "htmltoscene.scenesettings.enable.desc" }}</p>
	</div>

	<div class="form-group">
		<label>{{ localize "htmltoscene.scenesettings.fileLoc.name" }}</label>
		<div class="form-fields">
			<input data-dtype="String" type="text" name="flags.htmltoscene.fileLoc" placeholder="{{localize 'htmltoscene.scenesettings.pathPlaceholder'}}" value="{{fileLoc}}"/>
		</div>
		<p class="hint">{{ localize "htmltoscene.scenesettings.fileLoc.hint"}}</p>
		<p class="hint"><strong>{{ localize "htmltoscene.scenesettings.recommendationtip" }}</strong> {{ localize "htmltoscene.scenesettings.fileLoc.tip" }}</p>
	</div>

	<h3 class="form-header">{{ localize "htmltoscene.scenesettings.uisettings" }}</h3>

	<div class="form-group">
		<label>{{ localize "htmltoscene.scenesettings.minUI.name" }}</label>
		<div class="form-fields">
			<input type="checkbox" name="flags.htmltoscene.minUI" class="htmltosceneEnabledOnly" data-dtype="Boolean"
				onclick="syncMinUI(this)" {{#if minUI}} checked{{/if}} {{#unless enable}} disabled {{/unless}}>
		</div>
		<p class="hint">{{ localize "htmltoscene.scenesettings.minUI.desc" }}</p>
	</div>

	<div class="form-group">
		<label>{{ localize "htmltoscene.scenesettings.keepTop.name" }}</label>
		<div class="form-fields">
			<input type="checkbox" class="htmltosceneMinUIOnly htmltosceneEnabledOnly" name="flags.htmltoscene.keepTop"
				data-dtype="Boolean" {{#if keepTop}} checked{{/if}} {{#unless minUI}} disabled {{/unless}}
				{{#unless enable}} disabled {{/unless}}>
		</div>
		<p class="hint">{{ localize "htmltoscene.scenesettings.keepTop.desc" }}</p>
	</div>

	<div class="form-group">
		<label>{{ localize "htmltoscene.scenesettings.keepPlayerList.name" }}</label>
		<div class="form-fields">
			<input type="checkbox" class="htmltosceneMinUIOnly htmltosceneEnabledOnly"
				name="flags.htmltoscene.keepPlayerList" data-dtype="Boolean" {{#if keepPlayerList}} checked{{/if}}
				{{#unless minUI}} disabled {{/unless}} {{#unless enable}} disabled {{/unless}}>
		</div>
		<p class="hint">{{ localize "htmltoscene.scenesettings.keepPlayerList.desc" }}</p>
	</div>

	<div class="form-group">
		<label>{{ localize "htmltoscene.scenesettings.keepBottomControls.name" }}</label>
		<div class="form-fields">
			<select name="flags.htmltoscene.keepBottomControls" class="htmltosceneMinUIOnly htmltosceneEnabledOnly"
				data-dtype="Number" id="keepBottomControlsID" {{#unless minUI}} disabled {{/unless}} {{#unless enable}} disabled {{/unless}}>
				<option value="0" {{#ifEquals keepBottomControls 0}} selected{{/ifEquals}}>{{ localize "htmltoscene.scenesettings.keepBottomControls.values.defaultnone" }}</option>
				<option value="1" {{#ifEquals keepBottomControls 1}} selected{{/ifEquals}}>{{ localize "htmltoscene.scenesettings.keepBottomControls.values.macrobaronly" }}</option>
				<option value="2" {{#ifEquals keepBottomControls 2}} selected{{/ifEquals}}>{{ localize "htmltoscene.scenesettings.keepBottomControls.values.camerasonly" }}</option>
				<option value="3" {{#ifEquals keepBottomControls 3}} selected{{/ifEquals}}>{{ localize "htmltoscene.scenesettings.keepBottomControls.values.both" }}</option>
				<option value="4" {{#ifEquals keepBottomControls 4}} selected{{/ifEquals}}>{{ localize "htmltoscene.scenesettings.keepBottomControls.values.macroplusfps" }}</option>
				<option value="5" {{#ifEquals keepBottomControls 5}} selected{{/ifEquals}}>{{ localize "htmltoscene.scenesettings.keepBottomControls.values.cameraplusfps" }}</option>
				<option value="6" {{#ifEquals keepBottomControls 6}} selected{{/ifEquals}}>{{ localize "htmltoscene.scenesettings.keepBottomControls.values.bothplusfps" }}</option>
				<option value="7" {{#ifEquals keepBottomControls 7}} selected{{/ifEquals}}>{{ localize "htmltoscene.scenesettings.keepBottomControls.values.fpsonly" }}</option>
			</select>
		</div>
		<p class="hint">{{ localize "htmltoscene.scenesettings.keepBottomControls.desc" }}</p>
	</div>

	<div class="form-group">
		<label>{{ localize "htmltoscene.scenesettings.spaceRight.name" }}</label>
		<div class="form-fields">
			<input type="checkbox" name="flags.htmltoscene.spaceRight" data-dtype="Boolean" class="htmltosceneEnabledOnly"
				{{#if spaceRight}} checked{{/if}} {{#unless enable}} disabled {{/unless}}>
		</div>
		<p class="hint">{{ localize "htmltoscene.scenesettings.spaceRight.desc" }}</p>
		<p class="hint"><strong>{{ localize "htmltoscene.scenesettings.recommendationtip" }}</strong> {{ localize "htmltoscene.scenesettings.spaceRight.tip" }}</p>
	</div>

	<div class="form-group">
		<label>{{ localize "htmltoscene.scenesettings.rightDisabled.name" }}</label>
		<div class="form-fields">
			<input type="checkbox" name="flags.htmltoscene.rightDisabled" data-dtype="Boolean"
				class="htmltosceneEnabledOnly" {{#if rightDisabled}} checked{{/if}} {{#unless enable}} disabled {{/unless}}>
		</div>
		<p class="hint">{{ localize "htmltoscene.scenesettings.rightDisabled.desc" }}</p>
		<p class="hint"><strong>{{ localize "htmltoscene.scenesettings.warningtip" }}</strong> {{ localize "htmltoscene.scenesettings.rightDisabled.tip" }}</p>
	</div>

	<h3 class="form-header">{{ localize "htmltoscene.scenesettings.miscsettings" }}</h3>

	<div class="form-group">
		<label>{{ localize "htmltoscene.scenesettings.hidePaused.name" }}</label>
		<div class="form-fields">
			<input type="checkbox" name="flags.htmltoscene.hidePaused" data-dtype="Boolean" class="htmltosceneEnabledOnly"
				{{#if hidePaused}} checked{{/if}} {{#unless enable}} disabled {{/unless}}>
		</div>
		<p class="hint">{{ localize "htmltoscene.scenesettings.hidePaused.desc" }}</p>
	</div>

	<div class="form-group">
		<label>{{ localize "htmltoscene.scenesettings.hideSmallTime.name" }}</label>
		<div class="form-fields">
			<input type="checkbox" name="flags.htmltoscene.hideSmallTime" data-dtype="Boolean"
				class="htmltosceneEnabledOnly" {{#if hideSmallTime}} checked{{/if}} {{#unless enable}} disabled {{/unless}}>
		</div>
		<p class="hint">{{ localize "htmltoscene.scenesettings.hideSmallTime.desc" }}</p>
	</div>

	<h3 class="form-header">{{ localize "htmltoscene.scenesettings.advsettings" }}</h3>

	<div class="form-group">
		<label>{{ localize "htmltoscene.scenesettings.hideBoard.name" }}</label>
		<div class="form-fields">
			<input type="checkbox" name="flags.htmltoscene.hideBoard" data-dtype="Boolean" class="htmltosceneEnabledOnly"
				{{#if hideBoard}} checked{{/if}} {{#unless enable}} disabled {{/unless}}>
		</div>
		<p class="hint">{{ localize "htmltoscene.scenesettings.hideBoard.desc" }}</p>
		<p class="hint"><strong>{{ localize "htmltoscene.scenesettings.warningtip" }}</strong> {{ localize "htmltoscene.scenesettings.hideBoard.tip" }}</p>
	</div>

	<div class="form-group">
		<label>{{ localize "htmltoscene.scenesettings.passData.name" }}</label>
		<div class="form-fields">
			<input type="checkbox" name="flags.htmltoscene.passData" data-dtype="Boolean" class="htmltosceneEnabledOnly"
				{{#if passData}} checked{{/if}} onclick="syncPassData(this)" {{#unless enable}} disabled {{/unless}}>
		</div>
		<p class="hint">{{ localize "htmltoscene.scenesettings.passData.desc" }}</p>
		<p class="hint"><strong>{{ localize "htmltoscene.scenesettings.warningtip" }}</strong> {{ localize "htmltoscene.scenesettings.passData.tip" }}</p>
	</div>

	<div class="form-group">
		<label>{{ localize "htmltoscene.scenesettings.dataUpdateRate.name" }}</label>
		<div class="form-fields">
			<select name="flags.htmltoscene.dataUpdateRate" data-dtype="Number" class="htmltosceneEnabledOnly"
				{{#unless passData}} disabled {{/unless}} {{#unless enable}} disabled {{/unless}} id="dataUpdateRateID">
				<option value="0" {{#ifEquals dataUpdateRate 0}} selected{{/ifEquals}}>{{ localize "htmltoscene.scenesettings.dataUpdateRate.values.default" }}</option>
				<option value="1" {{#ifEquals dataUpdateRate 1}} selected{{/ifEquals}}>{{ localize "htmltoscene.scenesettings.dataUpdateRate.values.fivesec" }}</option>
				<option value="2" {{#ifEquals dataUpdateRate 2}} selected{{/ifEquals}}>{{ localize "htmltoscene.scenesettings.dataUpdateRate.values.onesec" }}</option>
				<option value="3" {{#ifEquals dataUpdateRate 3}} selected{{/ifEquals}}>{{ localize "htmltoscene.scenesettings.dataUpdateRate.values.halfsec" }}</option>
				<option value="4" {{#ifEquals dataUpdateRate 4}} selected{{/ifEquals}}>{{ localize "htmltoscene.scenesettings.dataUpdateRate.values.cuarterofasec" }}</option>
				<option value="5" {{#ifEquals dataUpdateRate 5}} selected{{/ifEquals}}>{{ localize "htmltoscene.scenesettings.dataUpdateRate.values.realtime" }}</option>
			</select>
		</div>
		<p class="hint">{{ localize "htmltoscene.scenesettings.dataUpdateRate.desc" }}</p>
		<p class="hint"><strong>{{ localize "htmltoscene.scenesettings.warningtip" }}</strong> {{ localize "htmltoscene.scenesettings.dataUpdateRate.tip" }}</p>
	</div>

	<div class="form-group">
		<label>{{ localize "htmltoscene.scenesettings.iFrameRefreshRate.name" }}</label>
		<div class="form-fields">
			<select name="flags.htmltoscene.iFrameRefreshRate" class="htmltosceneEnabledOnly" data-dtype="Number"
				{{#unless enable}} disabled {{/unless}}>
				<option value="0" {{#ifEquals iFrameRefreshRate 0}} selected{{/ifEquals}}>{{ localize "htmltoscene.scenesettings.iFrameRefreshRate.values.defaultnone" }}</option>
				<option value="60000" {{#ifEquals iFrameRefreshRate 60000}} selected{{/ifEquals}}>{{ localize "htmltoscene.scenesettings.iFrameRefreshRate.values.oneminute" }}</option>
				<option value="30000" {{#ifEquals iFrameRefreshRate 30000}} selected{{/ifEquals}}>{{ localize "htmltoscene.scenesettings.iFrameRefreshRate.values.thirtyseconds" }}</option>
				<option value="15000" {{#ifEquals iFrameRefreshRate 15000}} selected{{/ifEquals}}>{{ localize "htmltoscene.scenesettings.iFrameRefreshRate.values.fifteenseconds" }}</option>
				<option value="10000" {{#ifEquals iFrameRefreshRate 10000}} selected{{/ifEquals}}>{{ localize "htmltoscene.scenesettings.iFrameRefreshRate.values.tenseconds" }}</option>
				<option value="5000" {{#ifEquals iFrameRefreshRate 5000}} selected{{/ifEquals}}>{{ localize "htmltoscene.scenesettings.iFrameRefreshRate.values.fiveseconds" }}</option>
			</select>
		</div>
		<p class="hint">{{ localize "htmltoscene.scenesettings.iFrameRefreshRate.desc" }}</p>
		<p class="hint"><strong>{{ localize "htmltoscene.scenesettings.warningtip" }}</strong> {{ localize "htmltoscene.scenesettings.iFrameRefreshRate.tip" }}</p>
	</div>

	<div class="form-group">
		<label>{{ localize "htmltoscene.scenesettings.autoMacros.name" }}</label>
		<div class="form-fields">
			<input type="checkbox" name="flags.htmltoscene.autoMacrosEnabled" data-dtype="Boolean" class="htmltosceneEnabledOnly"
				{{#if autoMacrosEnabled}} checked{{/if}} onclick="syncAutoMacros(this)" {{#unless enable}} disabled {{/unless}} id="htmltosceneAutoMacrosCB">
		</div>
		<p class="hint">{{ localize "htmltoscene.scenesettings.autoMacros.desc" }}</p>
	</div>

	<div class="form-group htmltosceneAutoMacros">
		<label>{{ localize "htmltoscene.scenesettings.autoMacros.htmltosceneReadyMacro" }}</label>
		<div class="form-fields">
			<input data-dtype="String" type="text" name="flags.htmltoscene.selfReadyMacroName" placeholder="Macro name" value="{{selfReadyMacroName}}"/>
		</div>
	</div>

	<div class="form-group htmltosceneAutoMacros">
		<label>{{ localize "htmltoscene.scenesettings.autoMacros.iframeReadyMacro" }}</label>
		<div class="form-fields">
			<input data-dtype="String" type="text" name="flags.htmltoscene.iframeReadyMacroName" placeholder="Macro name" value="{{iframeReadyMacroName}}"/>
		</div>
	</div>

	<div class="form-group htmltosceneAutoMacros">
		<label>{{ localize "htmltoscene.scenesettings.autoMacros.iframeUpdatedMacro" }}</label>
		<div class="form-fields">
			<input data-dtype="String" type="text" name="flags.htmltoscene.iframeUpdatedMacroName" placeholder="Macro name" value="{{iframeUpdatedMacroName}}"/>
		</div>
	</div>

	<p class="hint" style="font-style:italic; color: var(--color-text-dark-secondary);">{{ localize "htmltoscene.scenesettings.rememberjsexecution" }}</p>

	<script>
		// Initialize auto macros visibility
		(function() {
			const cb = document.getElementById('htmltosceneAutoMacrosCB');
			if (cb && !cb.checked) {
				document.querySelectorAll('.htmltosceneAutoMacros').forEach(el => el.style.display = 'none');
			}
		})();

		function syncMinUI(cb) {
			const syncTargets = document.getElementsByClassName("htmltosceneMinUIOnly");
			Array.prototype.forEach.call(syncTargets, function (syncTarget) {
				syncTarget.disabled = !cb.checked;
			});
		}

		function syncEnabled(cb) {
			const syncTargets = document.getElementsByClassName("htmltosceneEnabledOnly");
			Array.prototype.forEach.call(syncTargets, function (syncTarget) {
				syncTarget.disabled = !cb.checked;
			});
		}

		function syncPassData(cb) {
			const syncTarget = document.getElementById("dataUpdateRateID");
			if (syncTarget) {
				syncTarget.disabled = !cb.checked;
			}
		}

		function syncAutoMacros(cb) {
			document.querySelectorAll('.htmltosceneAutoMacros').forEach(el => {
				el.style.display = cb.checked ? '' : 'none';
			});
		}
	</script>
</div>
